<div>
    <div><strong>Currently configured application:</strong></div>
    <div class="pl-6">{{ application.name }} <span class="text-sm">({{application.id}})</span></div>
</div>
<div>
    <div><strong>Current Message Inbound URL:</strong></div>
    <div class="pl-6">{{ application.capabilities.messages.webhooks.inbound_url.address }}</div>
</div>
<div>
    <div><strong>Current Message Status URL:</strong></div>
    <div class="pl-6">{{ application.capabilities.messages.webhooks.status_url.address }}</div>
</div>
<div>
    <div><strong>Current Voice Answer URL:</strong></div>
    <div class="pl-6">{{ application.capabilities.voice.webhooks.answer_url.address }}</div>
</div>
<div>
    <div><strong>Current Configured Number:</strong></div>
    <div class="pl-6">
        {% if fromNumber %}
            <strong>Currently configured number:</strong> {{ fromNumber }}
        {% else %}
            <form hx-post="/admin/components/app_management/set_number">
                {% set numbers = [] %}
                {% if applicationNumbers %}
                    {% set numbers = applicationNumbers %}
                {% else %}
                    {% set numbers = availableNumbers %}
                {% endif %}

                {% if numbers|length > 0 %}
                <div>Please select a number to assign to this application:</div>
                <select name="fromNumber" class="text-black py-1 px-2">
                    {% for number in numbers %}
                    <option value="{{number.msisdn}}">
                        {{ number.msisdn }}
                        {% if number.app_id %}
                            {% if number.app_id != application.id %}
                            (Number is assigned to {{ number.app_id }})
                            {% endif %}
                        {% endif %}
                    </option>
                    {% endfor %}
                </select>
                <input type="submit" value="Assign Number" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                {% else %}
                There are currently no numbers available. Please purchase a number on the API Dashboard and refresh this page.
                {% endif %}
            </form>
        {% endif %}
    </div>
</div>

<button hx-post="/admin/components/app_management/update_callbacks" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Update callbacks to Anagram Application</button>